.dropdown.b-dropdown .btn:not(.dropdown-toggle) {
    padding: 0 !important;
}

.dropdown.b-dropdown .dropdown-toggle::after{
    display: none;
}

.modal-backdrop {
    opacity: 0.3 !important;
}


.dot-sep::before {
    content: '.';
    position: absolute;
    bottom: 0;
}

.dot-sep {
    position: relative;
    height: 100%;
    display: block;
}

.select2-results__option, .select2-selection{
    text-transform: capitalize;
}

[data-kt-indicator="on"] {
    pointer-events: none;
}